* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(140, 140, 140);
}


.description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description .titre {
    font-size: 40px;
    margin-bottom: 5em;
}

.description .presentation {
    text-align: center;
    font-size: 30px;
    margin-bottom: 4em;
}

.description .start {
    border: none;
    background-color: rgb(92, 144, 153);
    padding: 1em;
    border-radius: 15px;
    font-size: larger;
}

.description .start:hover {
    transition: all 1s;
    padding-right: 2em;
    opacity: 90%;
    background-color: rgb(92, 144, 153);
    cursor: pointer;
}


.close {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    opacity: 70%;
    color: beige;
    background-color: rgb(224, 24, 24);
    padding: 0.5em;
    border-radius: 50%;
    font-size: larger;
    cursor: pointer;
}

.add_crypto {
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    margin: 10px;
    margin-top: 5vh;
    margin-inline: 5vw;
    border-radius: 20px;
    cursor: pointer;
}

.add_crypto .icon {
    color: rgb(10, 157, 10);
    font-size: 2vw;
}

.add_crypto .add_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_crypto span {
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}